<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Сервис по бронированию друзей">
    <meta name="keywords"
          content="друзья, бронь, бронирование, бронирование друзей, на выходные, weekend, на, выходные, пиво, шашлыки, бухло, бухать, api, апи">
    <meta name="author" content="Sergey Gorodnyuk (https://github.com/gorodnyuk)">

    <title>Сервис по бронированию друзей</title>

    <style>
        .container {
          width: 100%;
          max-width: 1024px;
          padding: 0 15px;
          margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="container">
    <h1 align="center">Сервис по бронированию друзей</h1>
    <hr>
    <div align="center">
        <p>Сервис по бронированию друзей - это уникальный в своем роде ресурс по бронированию друзей на выходные (и не
            только)!</p>
        <p>Представьте себе следующую картину: пятница, вечер, впереди выходные, самое время расслабиться в баре со
            стаканчиком свежего, холодного пива... Ммм... мечта... А вашего друга не отпускает жена (подруга, мать;
            подчеркните нужное)! </p>
        <p>Или он едет копать картошку на дачу.</p>
        <p>Или он договорился с кем-то другим, но пруфов не предоставил!</p>
        <p>Или ему просто лень...</p>
        <h2 align="center">Что же делать? Теперь он точно не отвертится!</h2>
        <h3 align="center">Нужно просто воспользоваться сервисом по бронированию друзей с выдачей сертификата!</h3>
        <p>Просто заполни таблицу и скачай сертификат!</p>

        <form action="#" th:action="@{/}" th:object="${request}" method="post">
            <p>Фамилия: <input type="text" th:field="*{bookingPerson.lastName}"/></p>
            <p>Имя: <input type="text" th:field="*{bookingPerson.firstName}"/></p>
            <p>Отчество: <input type="text" th:field="*{bookingPerson.middleName}"/></p>
            <p>День бронирования: <input type="date" th:field="*{bookingDate}"/></p>
            <p><input type="submit" value="Скачать сертификат"/></p>
        </form>

        <p>Не хочешь пользоваться сайтом? Воспользуйся API: GET
            http://booking-friends.ru/api/v1/booking-friends/reserve</p>
    </div>
</div>
</body>

</html>
